@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .topnav {
      background-color: rgb(54, 54, 54);
      overflow: hidden;
      position: fixed;
      top:5px;
      animation: 1.5s ease-out 0s 1 slideInLeft;
      
      
      
      
    }
    
    
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      animation: 1.5s ease-out 0s 1 slideInLeft;
    }
    
  
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
   
    .topnav a.active {
      background-color: hsl(45, 95%, 34%);
      color: white;
    }
  
  
    * {
      padding: 0;
      margin: 0;
    }