@font-face {
    font-family: "Cautions";
    src: url(font/Cautions.ttf);
}

.cent{
    text-align: center;
    color: white;
    font-size: 60px;
    position: static;
}

.body {
    background-image: url("img/ph2.jpeg");
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.topnav {
    background-color: rgb(54, 54, 54);
    overflow: hidden;
    position: fixed;
    top:5px;
    animation: 1.5s ease-out 0s 1 slideInLeft;
    
    
    
    
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    animation: 1.5s ease-out 0s 1 slideInLeft;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
 
  .topnav a.active {
    background-color: hsl(45, 95%, 34%);
    color: white;
  }


  * {
    padding: 0;
    margin: 0;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-family: "Cautions";   
    color:hsl(45, 95%, 34%);
    font-size: 130px;
    transform: scale(0.94);
    animation: scale 6s forwards cubic-bezier(0.5, 1, 0.89, 1);
    top: 20px;
  }

  h2 {   
    font-size: 100px;
    text-align: center;
    color:white;
    transform: scale(0.94);
    animation: scale 6s forwards cubic-bezier(0.5, 1, 0.89, 1);
    
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    top: 20px;
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
    
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
    
  }
  

  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

